<nav>
  <div class="nav-wrapper blue lighten-1">
    <img id="logo" alt="Icon" src="/assets/resist_together.jpg" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to image_tag("/assets/google-sign-in.png"), user_omniauth_authorize_path(:google_oauth2), class: "google" %></li>
    </ul>
  </div>
</nav>

  <div class="parallax-container">
    <div class="parallax"><%= image_tag "/assets/arms_resist.jpg"%></div>
  </div>


  <div class="container">
    <h1>Welcome To Resist</h1>
    <h5>The crowdfunding platform for supporting the political causes that matter to you.</h5>
    <p> To Sign Or Donate Please <%= link_to "Login", user_omniauth_authorize_path(:google_oauth2) %> </p>
    <div>
      <% @issues.each do |issue| %>

      <div class="col s12 m7">
        <h2 class="header"></h2>
        <div class="card horizontal blue lighten-1">
          <div class="card-stacked">
            <div class="card-content">
              <h3><%= link_to issue.title, issue_path(issue) %></h3>
              <p> <%= issue.description %> </p>
            </div>
          </div>
        </div>
      </div>


      <% end %>
    </div>
  </div>


