

<nav>
  <div class="nav-wrapper blue darken-4">
    <img id="logo" alt="Icon" src="/assets/resist_together.jpg" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Profile", user_path(@user) %></li>
    </ul>
  </div>
</nav>

<%= link_to "Back to Issues", issues_path, class: "back-button"%>

<div class="container">
  <h1><%= @issue.title %></h1>
  <p><%= @issue.description %></p>
  <% if current_user %>
  <p><%= @user.username %></p>
  <% end %>
</div>
